.main{
  width:100%;
  display:flex;
  justify-content: space-evenly;
}

.input{
  width: 50%;
  background-color: white;
  border: none;
  border-radius: 20px;
  
}

input[type="text"] {
  color: black; 
  background-color: white; 
  border: 1px solid #ccc; 
  padding: 10px; 
  font-size: 16px; 
}


input[type="text"]:focus {
  color: black; 
  background-color: white;
  outline: none; 
  border-color: #007BFF; 
}

.search{
  color:black;
  background-color: white;
  border-radius: 15px;
}



